@font-face {
    font-family: 'QuicksandBold';
    src: url('../fonts/QuicksandBold.eot');
    src: url('../fonts/QuicksandBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/QuicksandBold.woff2') format('woff2'),
         url('../fonts/QuicksandBold.woff') format('woff'),
         url('../fonts/QuicksandBold.ttf') format('truetype'),
         url('../fonts/QuicksandBold.svg#QuicksandBold') format('svg');
}
@font-face {
    font-family: 'QuicksandMedium';
    src: url('../fonts/QuicksandMedium.eot');
    src: url('../fonts/QuicksandMedium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/QuicksandMedium.woff2') format('woff2'),
         url('../fonts/QuicksandMedium.woff') format('woff'),
         url('../fonts/QuicksandMedium.ttf') format('truetype'),
         url('../fonts/QuicksandMedium.svg#QuicksandMedium') format('svg');
}