.logo {
	margin: 0 0 auto auto;
}

.top-menu {
	margin: 1.7% 0 auto auto;
}

.top-menu a:not(:first-child) {
	margin-left: 25px;
}

.phone {
	margin: 0 auto auto auto;
}

.phone span {
	margin: 8.5% auto auto 0;
}

.phone img {
	margin-top: 0;
}

.services__caption__text {
	margin: 166px -6% 0 3%;
}

.services__caption__text__big {
	font-size: 2.4em;
}

.services__caption__image {
	width: 30%;
}

.services__list {
	background-position: 30% 0;
}

.services__list .owl-carousel {
	width: 75%;
	margin: 0 auto;
}

.dog-walkers .owl-nav button.owl-prev {
  left: -10%;
}

.dog-walkers .owl-nav button.owl-next {
  right: -10%;
}

.mission__image {
	overflow: hidden;
	width: 39.5%;
}

.mission__image__wrap {
	float: right;
	margin-right: 120px;
}

.mission__image__one {
	top: 20%;
}

.mission__image__two {
	bottom: 30%;
	right: 0;
}

.mission__image__three {
	left: 3%;
}

.videos {
	background-position: -224px -5px, 128% -50px;
}

.videos__content__big {
	margin-right: 2%;
}

.contact {
	width: 95%;
}

.contact__caption {
	width: 27%;
}

.contact form {
	width: 72%;
}

.contact__name, .contact__phone {
	margin-right: 1.3%;
}