.clear:after {
	content: "";
	display: table;
	clear: both;
}

.standard-button {
	font-family: QuicksandBold, sans-serif;
	font-size: 0.8em;
	text-align: center;
	width: 200px;
	height: 55px;
	line-height: 55px;
	border-radius: 28px;
}

.common-h2 {
	font-family: QuicksandBold, sans-serif;
	font-size: 2em;
	text-transform: uppercase;
}

html, body {
  height: 100%;
}

.container {
	position: relative;
	min-height: 100%;
	display: block;
	max-width: 1600px;
	margin: 2% auto;
	overflow-x: hidden;
}

header {
	display: flex;
	margin-bottom: 57px;
}

.menu-mobile, .menu-mobile img {
	display: none;
}

.logo {
	display: inline-block;
	margin: 0.8% 0 auto 13.5%;
}

.logo img {
	width: 99px;
	height: 36px;
}

.top-menu {
	font-family: QuicksandBold, sans-serif;
	font-size: 0.8em;
	text-transform: uppercase;
	display: inline-block;
	margin: 1.7% 0 auto 12.4%;
}

.top-menu a {
	display: inline-block;
	text-decoration: none;
	color: #4B5169;
}

.top-menu a:not(:first-child) {
	margin-left: 37px;
}

.top-menu a:hover {
	border-bottom: 5px solid #A457FF;
}

.top-menu a:hover:after {
	content: "";
	display: block;
	margin-bottom: -7px;
	width: 100%;
}

.phone {
	font-family: QuicksandBold, sans-serif;
	font-size: 0.8em;
	color: #4B5169;
	display: flex;
	margin: 0 auto auto 9.8%;
	text-decoration: none;
}

.phone span {
	letter-spacing: 0.04em;
	margin: 26px 21px auto 0;
}

.phone img {
	display: inline-block;
	width: 50px;
	height: 51px;
	margin-top: 7px;
}

.content {
	padding-bottom: 472px;
}

.services {
	margin-bottom: 155px;
}

.services__caption {
	display: flex;
	max-width: 1171px;
	margin: 0 auto;
	text-decoration: none;
	color: #4B5169;
}

.services__caption__text__big, .services__caption__text__small,
.services__caption__button {
	display: block;
}

.services__caption__text, .services__caption__image {
	display: inline-block;
}

.services__caption__text {
	text-transform: uppercase;
	margin: 166px -2.2% 0 0;
}

.services__caption__text__big {
	font-family: QuicksandBold, sans-serif;
	font-size: 2.6em;
	letter-spacing: 0.065em;
}

.services__caption__text__small {
	font-family: QuicksandMedium, sans-serif;
	font-size: 1.5em;
	letter-spacing: 0.1em;
	text-align: left;
	margin-top: 24px;
}

.services__caption__button {
	color: white;
	background-color: #7BDCE0;
	box-shadow: 0 0 100px #7BDCE0;
	margin-top: 70px;
}

.services__caption__button:hover {
	background-color: #4AC9CE;
}

.services__list {
	display: flex;
	background: url('../images/Path15.svg') no-repeat;
	background-size: cover;
	margin: 65px -9.375% 0 -9.375%;
	padding-bottom: 106px;
}

.services__list .owl-carousel {
	position: relative;
	width: 63.5%;
	margin : 0 auto;
}

.services__list .owl-dots .owl-dot,
.dog-walkers .owl-dots .owl-dot,
.comments .owl-dots .owl-dot {
	outline: none;
}

.services__list .owl-dots .owl-dot span,
.dog-walkers .owl-dots .owl-dot span,
.comments .owl-dots .owl-dot span {
	margin: 5px 12px;
  background: #AAAAAA;
}

.services__list .owl-dots .owl-dot.active span,
.dog-walkers .owl-dots .owl-dot.active span,
.comments .owl-dots .owl-dot.active span {
	width: 25px;
  background: #4AC9CE;
}

.services__list__group, .services__list__solo,
.services__list__sitter {
	width: 365px;
	margin: 0 auto;
}

.services__list__group__image, .services__list__solo__image,
.services__list__sitter__image {
	display: flex;
	text-decoration: none;
}

.services__list__group__image__foto, .services__list__solo__image__foto,
.services__list__sitter__image__foto {
	display: block;
	margin: auto;
}

.services__list__group__image img, .services__list__solo__image img,
.services__list__sitter__image img {
	display: block;
	width: 100%;
}

.services__list__group__image__price, .services__list__solo__image__price,
.services__list__sitter__image__price {
	font-family: QuicksandBold, sans-serif;
	font-size: 1.3em;
	color: white;
	text-align: center;
	width: 67px;
	height: 67px;
	display: block;
	background: url('../images/Path33.svg') no-repeat;
}

.services__list__group h3, .services__list__solo h3,
.services__list__sitter h3 {
	font-family: QuicksandBold, sans-serif;
	font-size: 1.3em;
	text-transform: uppercase;
	letter-spacing: 0.04em;
}

.services__list__group ul, .services__list__solo ul,
.services__list__sitter ul {
	font-family: Calibri, sans-serif;
	list-style-type: none;
}

.services__list__group li, .services__list__solo li,
.services__list__sitter li {
	background: url('../images/point.svg') left center no-repeat;
	background-size: 2.5%;
	padding-left: 13px;
	margin-bottom: 19px;
}

.services__list__group__link, .services__list__solo__link,
.services__list__sitter__link {
	font-family: QuicksandBold, sans-serif;
	font-size: 0.8em;
	text-transform: uppercase;
	text-decoration: none;
	color: #6C22C4;
}

.services__list__group {
	margin-top: 168px;
}

.services__list__group__image {
	width: 365px;
	height: 335px;
	background: url('../images/01.png') no-repeat;
}

.services__list__group__image__foto {
	width: 250px;
	height: 250px;
	margin-left: 58px;
}

.services__list__group__image__price {
	line-height: 67px;
	margin: 217px auto auto -116px;
}

.services__list__group h3 {
	margin: 12px 0 0 58px;
}

.services__list__group ul {
	margin: 27px auto 32px 5px;
}

.services__list__group__link {
	margin-left: 58px;
}

.services__list__solo {
	margin-top: 165px;
}

.services__list__solo__image {
	width: 365px;
	height: 342px;
	background: url('../images/02.png') no-repeat;
}

.services__list__solo__image__foto {
	margin-left: 67px;
}

.services__list__solo__image__price {
	line-height: 67px;
	margin: 220px auto auto -146px;
}

.services__list__solo h3 {
	margin: 8px 0 0 96px;
}

.services__list__solo ul {
	margin: 27px auto 32px 45px;
}

.services__list__solo__link {
	margin-left: 98px;
}

.services__list__sitter {
	margin-top: 164px;
}

.services__list__sitter__image {
	width: 365px;
	height: 342px;
	background: url('../images/02rot.png') no-repeat;
}

.services__list__sitter__image__foto {
	margin-left: 65px;
}

.services__list__sitter__image__price {
	margin: 221px auto auto -132px;
	padding-top: 14px;
	letter-spacing: 0.07em;
}

.services__list__sitter__image__price span:first-child {
	margin-left: 7px;
}

.services__list__sitter__image__price__time {
	font-family: Calibri, sans-serif;
	font-size: 0.7em;
	display: block;
	opacity: 0.65;
	margin-left: 7px;
}

.services__list__sitter h3 {
	margin: 10px 0 0 81px;
}

.services__list__sitter ul {
	margin: 27px auto 32px 31px;
}

.services__list__sitter__link {
	margin-left: 84px;
}

.dog-walkers {
	margin-bottom: 61px;
}

.dog-walkers h2 {
	text-align: center;
	margin-bottom: 62px;
	letter-spacing: 0.07em;
}

.dog-walkers .owl-carousel,
.comments .owl-carousel {
	position: relative;
}

.dog-walkers .owl-carousel {
	width: 74%;
	margin: 0 auto;
}

.dog-walkers__block, .comments__block {
	padding: 0 5px 40px 5px;/* for box-shadow */
}

.dog-walkers__block__slide__image,
.dog-walkers__block__slide__image img, .dog-walkers__block__slide__name,
.dog-walkers__block__slide__age, .dog-walkers__block__slide__info,
.dog-walkers__block__slide__button {
	display: block;
}

.dog-walkers__block__slide, .comments__block__slide {
	display: block;
	border: 1px solid #AAE8EB;
	border-radius: 26px;
	text-decoration: none;
	color: black;
	box-shadow: 5px 10px 10px rgba(75, 81, 105, 0.06);
	position: relative;
}

.dog-walkers__block__slide {
	min-height: 325px;
	padding: 37px 25px 25px 30px;
}

.dog-walkers__block__slide__image,
.comments__block__slide__image {
	width: 93px;
	height: 93px;
	float: left;
	margin-right: 23px;
}

.dog-walkers__block__slide__image img,
.comments__block__slide__image img {
	width: 100%;
}

.dog-walkers__block__slide__name {
	font-family: QuicksandBold, sans-serif;
	font-size: 1.3em;
	margin-top: 20px;
}

.dog-walkers__block__slide__age {
	font-family: Calibri, sans-serif;
	margin-top: 15px;
}

.dog-walkers__block__slide__info,
.comments__block__slide__info {
	font-family: Calibri, sans-serif;
	font-size: 1.1em;
	line-height: 1.8em;
	clear: left;
}

.dog-walkers__block__slide__info {
	margin-top: 40px;
}

.dog-walkers__block__slide__button {
	color: #7BDCE0;
	background-color: white;
	border: 1px solid #AAE8EB;
	text-transform: uppercase;
	box-shadow: 5px 10px 10px rgba(75, 81, 105, 0.06);
	position: absolute;
	left: 50%;
	bottom: 0;
	margin: 0 0 -29px -100px;
}

.dog-walkers__block__slide__button:hover {
	color: white;
	background-color: #7BDCE0;
}

.dog-walkers .owl-nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 36%;
}

.dog-walkers .owl-nav button.owl-prev,
.dog-walkers .owl-nav button.owl-next,
.comments .owl-nav button.owl-prev,
.comments .owl-nav button.owl-next {
  height: 51px;
  width: 51px;
  background: url('../images/Path 52.svg') no-repeat;
}

.dog-walkers .owl-nav button.owl-prev,
.dog-walkers .owl-nav button.owl-next {
	position: absolute;
}

.dog-walkers .owl-nav button.owl-prev:before,
.dog-walkers .owl-nav button.owl-next:before,
.comments .owl-nav button.owl-prev:before,
.comments .owl-nav button.owl-next:before {
  content: "";
  display: block;
  width: inherit;
  height: inherit;
  background: url(
    '../images/angle-right-solid.svg') center center no-repeat;
  background-size: 25%;
}

.dog-walkers .owl-nav button.owl-prev:hover,
.dog-walkers .owl-nav button.owl-next:hover,
.comments .owl-nav button.owl-prev:hover,
.comments .owl-nav button.owl-next:hover {
  background: url('../images/Path 5614.svg') white no-repeat;
}

.dog-walkers .owl-nav button.owl-next,
.comments .owl-nav button.owl-next {
	transform: rotate(180deg);
}

.dog-walkers .owl-nav button.owl-prev {
  left: -7%;
}

.dog-walkers .owl-nav button.owl-next {
  right: -7%;
}

.dog-walkers .owl-dots, .comments .owl-dots {
  display: none;
}

.borderline {
	height: 150px;
	background: url('../images/Group 2522.svg') no-repeat;
	margin: 0 -3.2% 105px -3.2%;
}

.mission {
	max-width: 1280px;
	margin: 0 auto 173px auto;
}

.mission h2 {
	width: 35%;
	letter-spacing: 0.06em;
	margin: -5px 0 27px 51%;
}

.mission__image, .mission__message {
	display: inline-block;
	vertical-align: top;
}

.mission__image {
	width: 40.7%;
	height: 535px;
	margin: -56px 0 0 4.3%;
	position: relative;
}

.mission__image__one,
.mission__image__two, .mission__image__three,
.mission__image__four {
	position: absolute;
}

.mission__image__big, .mission__image__big img,
.mission__image__one, .mission__image__one img,
.mission__image__two, .mission__image__two img,
.mission__image__three, .mission__image__three img,
.mission__image__four, .mission__image__four img {
	display: block;
}

.mission__image__big img, .mission__image__one img,
.mission__image__two img, .mission__image__three img,
.mission__image__four img {
	width: 100%;
}

.mission__image__big {
	width: 380px;
	height: 400px;
	background: url('../images/Path58.svg') -65px -55px no-repeat;
	background-size: 141%;
}

.mission__image__one {
	width: 91px;
	height: 92px;
	top: 27.8%;
	right: 0;
}

.mission__image__two {
	width: 125px;
	height: 125px;
	bottom: 20.5%;
	right: 3.9%;
}

.mission__image__three {
	width: 92px;
	height: 92px;
	bottom: 7.5%;
	left: 6%;
}

.mission__image__four {
	width: 125px;
	height: 125px;
	bottom: 0;
	left: 41.8%;
}

.mission__message {
	width: 44.4%;
	margin-left: 6%;
}

.mission__message__text {
	font-family: Calibri, sans-serif;
	font-size: 1.12em;
	line-height: 1.67em;
	margin-bottom: 39px;
}

.mission__message__text p {
	margin: 0 0 12px 0;
}

.mission__message__audio .plyr__controls {
	height: 85px;
	border: 1px solid #AAE8EB;
	border-radius: 43px;
}

.mission__message__audio .plyr__control {
	width: 59px;
	height: 59px;
	background-color: #7BDCE0;
	border-radius: 29px;
}

.mission__message__audio .plyr__control .icon--pressed {
	background: url('../images/Group5.svg') no-repeat;
}

.mission__message__audio .plyr__control .icon--not-pressed {
	background: url('../images/play-solid.svg') no-repeat;
}

.mission__message__audio .plyr__control .icon--not-pressed,
.mission__message__audio .plyr__control .icon--pressed {
	width: 23px;
	height: 23px;
	margin-left: 13px;
	background-size: contain;
}

.mission__message__audio .plyr__time--current {
	font-size: 0.7em;
	color: #A1AACE;
}

.mission__message__signature {
	margin-top: 59px;
	padding-top: 3px;
}

.mission__message__signature img {
	display: block;
	float: right;
}

.mission__message__signature__name {
	font-family: QuicksandBold, sans-serif;
	font-size: 1.2em;
	margin-bottom: 9px;
}

.mission__message__signature__post {
	font-family: Calibri, sans-serif;
}

.comments {
	margin: 0 -6% 83px -6%;
}

.comments h2 {
	text-align: center;
	letter-spacing: 0.08em;
	margin-bottom: 60px;
}

.comments__block__slide__image,
.comments__block__slide__image img, .comments__block__slide__name,
.comments__block__slide__who, .comments__block__slide__info {
	display: block;
}

.comments__block__slide {
	min-height: 245px;
	padding: 30px 25px 25px 40px;
}

.comments__block__slide__name {
	font-family: QuicksandBold, sans-serif;
	font-size: 1.3em;
	margin-top: 23px;
}

.comments__block__slide__who {
	font-family: Calibri, sans-serif;
	margin-top: 8px;
}

.comments__block__slide__info {
	margin-top: 43px;
}

.comments .owl-nav {
	margin-top: 4px;
}

.comments .owl-nav button.owl-prev {
	position: relative;
  left: -7.2%;
}

.comments .owl-nav button.owl-next {
	position: relative;
  right: -7.2%;
}

.videos {
	padding: 100px 0 116px 0;
	margin-bottom: 147px;
	background: url('../images/Path72.svg') -224px -5px no-repeat,
		url('../images/Path71.svg') 128% -105px no-repeat; 
	background-size: 55.2%, 47%;
}

.videos h2 {
	text-align: center;
	letter-spacing: 0.07em;
	margin: -3px 0 62px 0;
}

.videos__content {
	max-width: 1170px;
	margin: 0 auto;
}

.videos__content__big,
.videos__content__small {
	display: inline-block;
}

.videos__content__big {
	width: 65.8%;
	margin-right: 2.3%;
}

.videos__content__small {
	width: 31.4%;
}

.videos__content__small__1,
.videos__content__small__2 {
	width: 100%;
	margin: 0 auto;
}

.videos__content__small__1 {
	margin-bottom: 6%;
}

.contact {
	max-width: 1170px;
	margin: 0 auto;
}

.contact h2 {
	letter-spacing: 0.07em;
}

.contact__caption, .contact__name, .contact__phone {
	font-family: Calibri, sans-serif;
}

.contact__caption {
	display: inline-block;
	width: 26%;
	color: #595F77;
	font-size: 1.2em;
	line-height: 1.6em;
	letter-spacing: 0.02em;
}

.contact form {
	display: inline-block;
	width: 68.3%;
	float: right;
	margin-top: 5px;
}

.contact__name, .contact__phone,
.contact__button {
	border-radius: 28px;
}

.contact__name, .contact__phone {
	height: 48px;
	padding-left: 20px;
	font-size: 1.1em;
	color: #A1AACE;
	border: 2px solid #AAE8EB;
	margin-right: 3.2%;
}

.contact__name:focus, .contact__phone:focus,
.contact__button:focus {
	outline: 0;
}

.contact__name {
	width: 26.9%;
}

.contact__phone {
	width: 34.5%;
}

.contact__button {
	width: 25.1%;
	height: 55px;
	font-family: QuicksandBold, sans-serif;
	font-size: 0.8em;
	color: white;
	text-transform: uppercase;
	background-color: #7BDCE0;
	border: 1px solid #7BDCE0;
	cursor: pointer;
}

.contact__button:hover {
	background-color: #4AC9CE;
}

footer {
	position: absolute;
	height: 320px;
  left: -18%;
  right: -11%;
  bottom: 0;
  background: url('../images/Path73.svg') no-repeat;
	background-size: 100%;
}

.footer-content {
	width: 56.3%;
	margin: 202px auto 0 auto;
}

.footer-content__social {
	width: 50%;
	float: right;
}

.footer-content__social a {
	display: inline-block;
	width: 50px;
	height: 50px;
	float: right;
	margin-left: 3%;
}

.footer-content__social img {
	width: 100%;
}

.footer-content__copyright {
	width: 40%;
	float: left;
	margin: 9px 0 0 4.5%;
}

.footer-content__copyright__logo {
	display: block;
}

.footer-content__copyright span {
	display: block;
	font-family: Calibri, sans-serif;
	font-size: 0.8em;
	color: #595F77;
	margin-top: 12px;
}