.common-h2 {
	font-size: 1.5em;
}

.container {
	margin: 20px auto 0 auto;
}

header {
	margin-bottom: 0;
}

.top-menu, .phone span {
	display: none;
}

.menu-mobile {
	display: inline-block;
	width: 18px;
	margin: auto 0 auto 3%;
}

.menu-mobile img {
	display: block;
	width: 100%;
}

.logo {
	margin: auto;
}

.phone {
	margin: auto 3% auto 0;
}

.content {
	padding-bottom: 400px;
	margin-top: 80px;
}

.services {
	margin-bottom: 100px;
}

.services__caption {
	display: block;
}

.services__caption__text {
	display: block;
	margin: 0 auto 0 8%;
}

.services__caption__text__big {
	font-size: 2em;
}

.services__caption__text__small {
	font-size: 1.3em;
}

.services__caption__image {
	display: block;
	position: relative;
	top: -110px;
	right: -25%;
	z-index: -1;
}

.services__list {
	background-position: 30% 0;
	margin-top: -80px;
}

.services__list .owl-carousel {
	width: 100%;
}

.dog-walkers .owl-carousel {
	width: 90%;
}

.dog-walkers .owl-nav, .comments .owl-nav {
  display: none;
}

.dog-walkers .owl-dots, .comments .owl-dots {
  display: block;
}

.borderline {
	margin-bottom: 10px;
}

.mission {
	margin-bottom: 100px;
}

.mission h2 {
	width: 100%;
	text-align: center;
	margin-left: 0;
}

.mission__image, .mission__message {
	display: block;
}

.mission__image {
	width: 100%;
	height: 400px;
	margin: 0;
}

.mission__image__wrap-mobile {
	display: flex;
	width: 100%;
	margin: 0 auto;
}

.mission__image__one,
.mission__image__two, .mission__image__three,
.mission__image__four {
	display: inline-block;
	width: 95px;
	height: 95px;
	position: static;
	margin: 0 auto;
}

.mission__image__big {
	width: 270px;
	height: 280px;
	margin: 0 auto;
	background-position: -43px -35px;
	background-size: 138%;
}

.mission__message {
	width: 90%;
	margin: 0 auto;
}

.comments {
	width: 90%;
	margin: 0 auto;
}

.videos {
	padding-bottom: 50px;
	margin-bottom: 0;
	background-position: -224px -5px, 200px -120px;
	background-size: 55.2%, 150%;
}

.videos__content__big,
.videos__content__small {
	display: block;
	width: 90%;
	margin: 0 auto;
}

.videos__content__big,
.videos__content__small__1,
.videos__content__small__2 {
	margin-bottom: 20px;
}

.contact, .contact__caption, .contact form,
.contact__name, .contact__phone,
.contact__button {
	display: block;
	margin: 0 auto;
}

.contact {
	width: 95%;
}

.contact h2 {
	text-align: center;
}

.contact__caption {
	width: 80%;
	margin-bottom: 50px;
}

.contact form {
	width: 100%;
}

.contact__name, .contact__phone {
	width: 90%;
}

.contact__name {
	margin-bottom: 20px;
}

.contact__phone {
	margin-bottom: 50px;
}

.contact__button {
	width: 60%;
}

footer {
  background-position: 0 16px;
	background-size: cover;
}

.footer-content {
	margin: 100px auto 0 24%;
}

.footer-content__social,
.footer-content__social a,
.footer-content__copyright {
	float: none;
	margin: 0 auto;
}

.footer-content__social {
	width: 80%;
	display: flex;
	margin-bottom: 30px;
}

.footer-content__copyright {
	width: 60%;
	float: none;
}

.footer-content__copyright__logo img {
	display: block;
	margin: 0 auto;
}

.footer-content__copyright span {
	margin-top: 20px;
	text-align: center;
}